# Semana 05
Mg. Flor Elizabeth Cerdán León

In [ ]:
# Temas:

In [ ]:
1.Números
2.Variables
3.Manejo de Cadenas
4.Ingreso de datos por teclado
5.Operadores

3. Manejo de cadenas

In [3]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [4]:
#Universidad Nacional Tecnologica de Lima Sur
#01234............                       -2-1

In [5]:
cadena[5]

'r'

In [6]:
cadena[10]

'd'

In [7]:
# Tambien considera los espacios
cadena[11]

' '

In [8]:
# ¿Que me mostrara?
cadena[-5]

'a'

In [9]:
cadena[21]

'T'

In [10]:
# Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [11]:
# Para mostrar un subcadena [desde, hasta una antes]
# En Java era substring()
cadena[3:8]

'versi'

In [12]:
# Para saber el tamaño de una cadena utilizamos len()
# incluye los espacios en blanco
len(cadena)

44

In [13]:
# Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [14]:
# Ojo.... solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [15]:
# Si desearas cambiarlo harías: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [16]:
# Para mostrar una cadena en minusculas utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [17]:
# Genera una lista a partir de una cadena. split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [18]:
# Generar una lista utilizando un criterio de separacion a partir de una cadena. split()
# En este caso vamos a generar una lista de toda la cadena utilizando como criterio de separacion la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [19]:
# Forma clásica, concatenar con +
nombre = "Flor Cerdán"
print("Buenas tardes " + nombre)

Buenas tardes Flor Cerdán

In [20]:
# Utilizando el .format()
nombre = "Flor Daneli"
edad = 10
print("Hola {} ya se que tienes {} años" .format(nombre, edad))

Hola Flor Daneli ya se que tienes 10 años

In [23]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es ={} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es =3.3333333333333335
10/3 es = 3.333

In [24]:
# Dar formato con f
# La función f está disponible desde la versión 3.6
nombre = "Pablo Lévano"
edad = 12
print(f"Buenos días {nombre}, ya se que tienes {edad} años")

Buenos días Pablo Lévano, ya se que tienes 12 años

In [26]:
# Dar formato a número con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333