# Semana 05
Mg. Flor Elizabeth Cerdán León

# Temas:
1.  Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

2.  Variables.

Siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro símbolo)

In [1]:
edad = 41

In [2]:
edad

41

In [3]:
nombre = "Flor"

In [4]:
nombre

'Flor'

In [5]:
apellido = "Cerdán León"

In [6]:
apellido

'Cerdán León'

In [7]:
nombrecompleto = nombre + apellido

In [8]:
nombrecompleto

'FlorCerdán León'

In [9]:
nombrecompleto = nombre + " " + apellido

In [10]:
nombrecompleto

'Flor Cerdán León'

# Para saber el tipo de variable utilizamos la función type()
# Por ejemplo:

In [11]:
numero = 50
type(numero)

int

In [12]:
type(nombre)

str

In [13]:
talla = 1.68

In [14]:
talla

1.68

In [15]:
type(talla)

float

In [16]:
# Para convertir un numero en cadena utilizamos str()

In [18]:
numero = 100
cadena = str(numero)
cadena

'100'

In [19]:
type(cadena)

str

In [20]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [21]:
type(numero2)

int

In [23]:
# Para converir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [24]:
type(numero2)

float